<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>ESCAPE FROM THE IUT</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
</head>

<body>

</body>

<div class="ui container placeholder segment">
    <div class="ui icon header">
        <h1>HELLOOOO!!!!!</h1>
    </div>
    <div class="inline">
        <form action="/mission1" method="post">
            <button class="ui primary basic button">JOUER</button>
        </form>
    </div>
    <div class="inline">
        <form action="/getEtudiant" method="post">
            <button class="ui primary basic button">TEST BD</button>
        </form>
    </div>
</div>



</html>