<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>ESCAPE FROM THE IUT</title>
    <!-- Phaser -->
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/semantic.min.css">
    <!-- JavaScript -->
    <script src="/assets/Js/mission1.js"></script>
</head>

<body>
    
</body>

</html>