<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>TEST BD</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
</head>

<body>

</body>

<div class="ui container placeholder segment">
    <div class="ui icon header">
        <h1>HELLOOOO!!!!!</h1>
    </div>
    <div class="inline">
        <%= test.prenom %>
    </div>
</div>



</html>